<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="UpcomingConcertsBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>